<h1>Editing caddie</h1>
<div class="row">
  <div class="col-xs-6">
    <%= render 'form' %>
  </div>
  <div class="col-xs-6">
    <%= simple_form_for(@caddie, html: {class: 'form-verticle' }, :url => add_caddie_organization_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @caddie.id } %>
      <%= f.association :organization, :prompt => 'Choose One' %>
      <%= f.button :submit, 'Update' %>
      <a href="#new_organization_modal" role="button" class="btn btn-mini" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> New Organization</a>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @caddie.person, :class => 'btn btn-small' %>
    <%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, caddies_path, :class => 'btn btn-small' %>
  </div>
</div>

