<h1>Caddies</h1>
<%= link_to 'New Caddie', new_caddie_path if current_user %>
<hr>
<table class ='table table-striped' id='caddies_table'>
  <thead>
    <tr>
      <th>Last</th>
      <th>First</th>
      <th>Phone</th>
      <th>Email</th>
      <th>School</th>
      <th>Comments</th>
      <th></th>
      <% if current_user %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @caddies.each do |caddie| %>
      <tr>
        <td><%= link_to caddie.last_name, caddie %></td>
        <td><%= link_to caddie.first_name, caddie %></td>
        <td><%= build_phone_number(caddie.phone) %></td>
        <td><%= mail_to caddie.email, caddie.email, :encode => "javascript" %></td>
        <td><%= caddie.school %></td>
        <td><%= caddie.comments %></td>
        <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, caddie, :class => 'btn btn-small' %></td>
        <% if current_user %>
          <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_caddie_path(caddie), :class => 'btn btn-small' %></td>
          <td><%= link_to '<i class="icon-trash"></i>'.html_safe, caddie, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $(document).ready(function() {
    $('#caddies_table').dataTable();
  }
);
</script>