<h1><%= @caddie.full_name %> <small>Caddie</small></h1>
<p>
  <strong>Phone:</strong>
  <%= build_phone_number(@caddie.phone) %>
</p>

<p>
  <strong>School:</strong>
  <%= @caddie.school %>
</p>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_caddie_path(@caddie), :class => 'btn btn-small' if current_user %>
<%= link_to '<i class="icon-list"></i>'.html_safe, caddies_path, :class => 'btn btn-small' %>
