<h1>Editing volunteer</h1>

<div class="row">
  <div class="col-xs-6">
    <%= form_for(@volunteer_form, url: volunteer_url, method: :patch, html: {class: 'form-vertical' }) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <%- end %>
  </div>
  <div class="col-xs-6">
    <%= simple_form_for(@volunteer_form.volunteer, html: {class: 'form-vertical' }, :url => add_volunteer_committee_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @volunteer_form.volunteer.id } %>
      <%= f.association :committees %>
      <%= f.button :submit, 'Update' %>
      <a href="#new_committee_modal" role="button" class="btn btn-mini" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> New Committee</a>
    <% end %>
  </div>
  <div class="col-xs-6">
    <%= simple_form_for(@volunteer_form.volunteer, html: {class: 'form-vertical' }, :url => add_volunteer_job_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @volunteer_form.volunteer.id } %>
      <%= f.association :jobs %>
      <%= f.button :submit, 'Update' %>
      <a href="#new_job_modal" role="button" class="btn btn-mini" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> New Job</a>
    <% end %>
  </div>
  <div class="col-xs-6">
    <%= simple_form_for(@volunteer_form.volunteer, html: {class: 'form-vertical' }, :url => add_volunteer_shift_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @volunteer_form.volunteer.id } %>
      <%= f.association :shifts, label_method: :time %>
      <%= f.button :submit, 'Update' %>
      <a href="#new_shift_modal" role="button" class="btn btn-mini" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> New Shift</a>
    <% end %>
  </div>
  <div class="col-xs-6">
    <%= simple_form_for(@volunteer_form.volunteer, html: {class: 'form-vertical' }, :url => add_volunteer_organization_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @volunteer_form.volunteer.id } %>
      <%= f.association :organization, :prompt => 'Choose One' %>
      <%= f.button :submit, 'Update' %>
      <a href="#new_organization_modal" role="button" class="btn btn-mini" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> New Organization</a>
    <% end %>
  </div>

  <div class="col-xs-6">
    <%= link_to('<span class="glyphicon glyphicon-user"></span> Add Spouse'.html_safe, duplicate_volunteer_path(:volunteer_id => @volunteer_form.volunteer.id), method: :post, data: { confirm: 'Duplicate this volunteer?' }, :class => 'btn') %>
    <br>
    <br>
    <!-- Button to trigger modal -->
    <a href="#myModal" role="button" class="btn" data-toggle="modal"><span class="glyphicon glyphicon-home"></span> Add Housing</a>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 id="myModalLabel">Add Housing</h3>
        </div>
        <%= simple_form_for(@housing, html: {class: 'form-vertical' }, :url => add_volunteer_housing_path, method: 'post') do |f| %>
          <div class="modal-body">
            <%= f.input :volunteer_id, :as => :hidden, :input_html => { :value => @volunteer_form.volunteer.id } %>
            <%= render :partial => "housings/form", locals: {f: f} %>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="new_job_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add_job" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 id="add_committee">Add Job</h3>
        </div>
        <div class="modal-body">
          <%= render 'jobs/form' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="new_shift_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add_shift" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 id="add_shift">Add Shift</h3>
        </div>
        <div class="modal-body">
          <%= render 'shifts/form' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="new_organization_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add_organization" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 id="add_organization">Add Organization</h3>
        </div>
        <div class="modal-body">
          <%= render 'organizations/form' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="new_committee_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add_committee" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 id="add_committee">Add Committee</h3>
        </div>
        <div class="modal-body">
          <%= render 'committees/form' %>
        </div>
      </div>
    </div>
  </div>

</div>

<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @volunteer_form.volunteer, :class => 'btn btn-small' %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, volunteers_path, :class => 'btn btn-small' %>
