<h1>Editing volunteer</h1>

<div class="row">
  <div class="span6">
    <%= render 'form' %>
  </div>
  <div class="span6">
    <%= simple_form_for(@volunteer, html: {class: 'form-inline' }, :url => add_volunteer_committee_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @volunteer.id } %>
      <%= f.association :committees %>
      <%= f.button :submit, 'Add' %>
    <% end %>
  </div>
  <div class="span6">
    <%= simple_form_for(@volunteer, html: {class: 'form-inline' }, :url => add_volunteer_job_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @volunteer.id } %>
      <%= f.association :jobs %>
      <%= f.button :submit, 'Add' %>
    <% end %>
  </div>
  <div class="span6">
    <%= simple_form_for(@volunteer, html: {class: 'form-inline' }, :url => add_volunteer_organization_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @volunteer.id } %>
      <%= f.association :organization, :prompt => 'Choose One' %>
      <%= f.button :submit, 'Add' %>
    <% end %>
  </div>

  <div class="span6">
    <!-- Button to trigger modal -->
    <a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-home"></i> Add Housing</a>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add Housing</h3>
    </div>
    <%= simple_form_for(@housing, html: {class: 'form-horizontal' }, :url => add_volunteer_housing_path, method: 'post') do |f| %>
      <div class="modal-body">
        <%= f.input :volunteer_id, :as => :hidden, :input_html => { :value => @volunteer.id } %>
        <%= render :partial => "housings/form", locals: {f: f} %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

</div>

<%= link_to '<i class="icon-eye-open"></i>'.html_safe, @volunteer, :class => 'btn btn-small' %>
<%= link_to '<i class="icon-list"></i>'.html_safe, volunteers_path, :class => 'btn btn-small' %>
