<h1>Listing volunteers</h1>

<table class ='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Zip</th>
      <th>Primary phone</th>
      <th>Secondary phone</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= link_to(volunteer.full_name, volunteer) %></td>
        <td><%= volunteer.street %></td>
        <td><%= volunteer.city %></td>
        <td><%= volunteer.state %></td>
        <td><%= volunteer.zip %></td>
        <td><%= volunteer.zip %></td>
        <td><%= volunteer.primary_phone %></td>
        <td><%= volunteer.secondary_phone %></td>
        <td><%= volunteer.email %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_volunteer_path(volunteer), :class => 'btn btn-small' %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, volunteer, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volunteer', new_volunteer_path %>
