<h1>Volunteers <small><%= @volunteers.count %> work volunteers</small></h1>
<% if current_user %>
  <%= link_to 'Add New Volunteer', new_volunteer_path %>
  | <%= link_to 'Show all', :show_all => true %>
<% end %>
<hr>
<table id='data_table' class ='table table-striped'>
  <thead>
    <tr>
      <th>Last</th>
      <th>First</th>
      <th>Organization</th>
      <th>W</th>
      <th>Days</th>
      <th>Session</th>
      <th>Physical?</th>
      <th>Golf?</th>
      <th>Comments</th>
      <th>Committee</th>
      <th></th>
      <% if current_user %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= link_to(volunteer.last_name, volunteer.person) %></td>
        <td><%= link_to(volunteer.first_name, volunteer.person) %></td>
        <td><%= volunteer.organization.try(:name) %></td>
        <td><%= volunteer.waiver ? 'Y' : 'N' %></td>
        <td><%= volunteer.availability %></td>
        <td><%= volunteer.sessions %></td>
        <td><%= volunteer.physical_activity ? 'Yes' : 'No' %></td>
        <td><%= volunteer.golfer ? 'Yes' : 'No' %></td>
        <td><%= volunteer.comments %></td>
        <td><%= committees_for(volunteer) %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, volunteer.person, :class => 'btn btn-small' %></td>
        <% if current_user %>
          <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_person_path(volunteer.person), :class => 'btn btn-small' %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, volunteer, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'shared/datatable_js' %>