<h1>Shirts</h1>
<hr>
<table id='shirts_table' class ='table table-striped'>
  <thead>
    <tr>
      <th>Last</th>
      <th>First</th>
      <th>Size</th>
      <th># Ordered</th>
      <th>Paid?</th>
      <th>Committee</th>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= link_to(volunteer.last_name, volunteer) %></td>
        <td><%= link_to(volunteer.first_name, volunteer) %></td>
        <td><%= volunteer.shirt_size %></td>
        <td><%= volunteer.number_of_shirts %></td>
        <td><%= volunteer.paid ? "Yes" : "No" %></td>
        <td><%= committees_for(volunteer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function() {
    $('#shirts_table').dataTable();
  }
);
</script>