<p id="notice"><%= notice %></p>

<h1><%= @volunteer.full_name %></h1>
<div class="row">
  <div class="span4">
    <div class="well">
      <h2>Address</h2>
      <p>
        <%= @volunteer.street %><br>
        <%= @volunteer.city %>, <%= @volunteer.state %>  <%= @volunteer.zip %>
      </p>
    </div>
  </div>

  <div class="span4">
    <h3>Phone</h3>
    <p>
      <%= @volunteer.primary_phone %> <br>
      <%= @volunteer.secondary_phone %>
    </p>
  </div>

  <div class="span4">
    <h3>Email</h3>
    <p>
      <%= @volunteer.email %>
    </p>
  </div>
</div>

<div class="well">
  <h4>Committees</h4>
  <% @volunteer.committees.each do |committee| %>
    <%= link_to committee.name, committee %>
  <% end %>
</div>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_volunteer_path(@volunteer), :class => 'btn btn-small' %>
<%= link_to '<i class="icon-list"></i>'.html_safe, volunteers_path, :class => 'btn btn-small' %>
