<div class="row">
  <div class="col-xs-12">
    <h1><%= @volunteer.full_name %> <small><%= @volunteer.organization.try(:name) %></small> </h1>
    <%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, volunteers_path, :class => 'btn btn-small' %>
    <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_volunteer_path(@volunteer), :class => 'btn btn-small' if current_user %>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <h5>Address</h5>
    <p>
      <%= @volunteer.street %><br>
      <%= @volunteer.city %>, <%= @volunteer.state %>  <%= @volunteer.zip %>
    </p>
  </div>

  <div class="col-xs-3">
    <h5>Phone</h5>
    <p>
      <%= build_phone_number(@volunteer.primary_phone) %> <br>
      <%= build_phone_number(@volunteer.secondary_phone) %>
    </p>
  </div>

  <div class="col-xs-3">
    <h5>Email</h5>
    <p>
      <%= mail_to @volunteer.email, @volunteer.email, :encode => "javascript" %>
    </p>
  </div>

  <div class="col-xs-3">
    <h5>Shirts</h5>
    <p>
      <%= @volunteer.shirt_size.present? ? "#{@volunteer.number_of_shirts} #{@volunteer.shirt_size}" : 'Not specified' %>
      - <%= @volunteer.paid ? 'Paid' : 'Not Paid' %></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <h5>Physical Activity?</h5>
    <p><%= @volunteer.physical_activity ? 'Yes' : 'No' %></p>
  </div>
  <div class="col-xs-3">
    <h5>Golfer?</h5>
    <p><%= @volunteer.golfer ? 'Yes' : 'No' %></p>
  </div>
  <div class="col-xs-3">
    <h5>Availability?</h5>
    <p><%= @volunteer.availability %></p>
  </div>
  <div class="col-xs-3">
    <h5>Session?</h5>
    <p><%= @volunteer.sessions %></p>
  </div>
</div>
<% if @volunteer.comments %>
  <div class="row">
    <div class="col-xs-9">
      <h4>Comments</h4>
      <%= @volunteer.comments %>
    </div>
  </div>
<% end %>

<hr>
<div class="row">
  <div class="col-xs-4">
    <div class="well">
      <h4>Committees</h4>
      <ul class='list-unstyled'>
        <% @volunteer.committees.each do |committee| %>
          <li><%= link_to "#{committee.name} Committee", committee %> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="well">
      <h4>Job</h4>
      <ul class='list-unstyled'>
        <% @volunteer.jobs.each do |job| %>
          <li><%= link_to "#{job.title} job", job %> </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @volunteer.housing.present? %>
    <div class="col-xs-4">
      <div class="well">
        <h4>Housing</h4>
        <ul class='list-unstyled'>
          <% @volunteer.housing.each do |housing| %>
          <li><strong>Date Available:</strong> <%= housing.available %></li>
          <li><strong>Bedrooms:</strong> <%= housing.number_of_bedrooms %></li>
          <li><strong>Bathrooms:</strong> <%= housing.number_of_bathrooms %></li>
          <li><strong>Pets?</strong> <%= housing.pets ? 'Yes' : 'No' %></li>
          <li><strong>Smoking?</strong> <%= housing.smoking ? 'Yes' : 'No' %></li>
          <% if housing.comments.present? %>
            <li><strong>Comments:</strong> <%= housing.comments %></li>
          <% end %>
          <li><hr></li>
          <% end %>

        </ul>
      </div>
    </div>
  <% end %>

</div>

