<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4">
    <h1><%= @volunteer.full_name %></h1>
    <h4>Address</h4>
    <p>
      <%= @volunteer.street %><br>
      <%= @volunteer.city %>, <%= @volunteer.state %>  <%= @volunteer.zip %>
    </p>
  </div>

  <div class="span4">
    <div class="well">
      <h4>Phone</h4>
      <p>
        <%= build_phone_number(@volunteer.primary_phone) %> <br>
        <%= build_phone_number(@volunteer.secondary_phone) %>
      </p>
    </div>
  </div>

  <div class="span4">
    <div class="well">
      <h4>Email</h4>
      <p>
        <%= @volunteer.email %>
      </p>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <div class="well">
      <h4>Committees</h4>
      <ul class='unstyled'>
        <% @volunteer.committees.each do |committee| %>
          <li><%= link_to "#{committee.name} Committee", committee %> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h4>Jobs</h4>
      <ul class='unstyled'>
        <% @volunteer.jobs.each do |job| %>
          <li><%= link_to job.title, job %> <span class='muted'>(<%= job.committee.name %> Committee)</span></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_volunteer_path(@volunteer), :class => 'btn btn-small' %>
<%= link_to '<i class="icon-list"></i>'.html_safe, volunteers_path, :class => 'btn btn-small' %>
