<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @volunteer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @volunteer.last_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @volunteer.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @volunteer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @volunteer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @volunteer.zip %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @volunteer.zip %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @volunteer.primary_phone %>
</p>

<p>
  <strong>Secondary phone:</strong>
  <%= @volunteer.secondary_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @volunteer.email %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
