<div class="row">
  <h1><%= @volunteer.full_name %> <small><%= @volunteer.organization.try(:name) %></small> </h1>
  <div class="span3">
    <h4>Address</h4>
    <p>
      <%= @volunteer.street %><br>
      <%= @volunteer.city %>, <%= @volunteer.state %>  <%= @volunteer.zip %>
    </p>
  </div>

  <div class="span3">
    <h4>Phone</h4>
    <p>
      <%= build_phone_number(@volunteer.primary_phone) %> <br>
      <%= build_phone_number(@volunteer.secondary_phone) %>
    </p>
  </div>

  <div class="span3">
    <h4>Email</h4>
    <p>
      <%= @volunteer.email %>
    </p>
  </div>

  <div class="span3">
    <h5>Shirt Size</h5>
    <p><%= @volunteer.shirt_size.present? ? @volunteer.shirt_size : 'Not specified' %></p>
    <h5>Paid?</h5>
    <p><%= @volunteer.paid ? 'Yes' : 'No' %></p>
    <h5>Physical Activity?</h5>
    <p><%= @volunteer.physical_activity ? 'Yes' : 'No' %></p>
  </div>
</div>
<% if @volunteer.comments %>
  <div class="row">
    <div class="span9">
      <h4>Comments</h4>
      <%= @volunteer.comments %>
    </div>
  </div>
<% end %>

<hr>
<div class="row">
  <div class="span4">
    <div class="well">
      <h4>Committees</h4>
      <ul class='unstyled'>
        <% @volunteer.committees.each do |committee| %>
          <li><%= link_to "#{committee.name} Committee", committee %> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h4>Jobs</h4>
      <ul class='unstyled'>
        <% @volunteer.jobs.each do |job| %>
          <li><%= link_to name_for(job), job %></li>
        <% end %>

      </ul>
    </div>
  </div>

  <% if @volunteer.housing.present? %>
    <div class="span4">
      <div class="well">
        <h4>Housing</h4>
        <ul class='unstyled'>
          <% @volunteer.housing.each do |housing| %>
          <li><strong>Date Available:</strong> <%= housing.available %></li>
          <li><strong>Bedrooms:</strong> <%= housing.number_of_bedrooms %></li>
          <li><strong>Bathrooms:</strong> <%= housing.number_of_bathrooms %></li>
          <li><strong>Pets?</strong> <%= housing.pets ? 'Yes' : 'No' %></li>
          <li><strong>Smoking?</strong> <%= housing.smoking ? 'Yes' : 'No' %></li>
          <% if housing.comments.present? %>
            <li><strong>Comments:</strong> <%= housing.comments %></li>
          <% end %>
          <li><hr></li>
          <% end %>

        </ul>
      </div>
    </div>
  <% end %>

</div>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_volunteer_path(@volunteer), :class => 'btn btn-small' if current_user %>
<%= link_to '<i class="icon-list"></i>'.html_safe, volunteers_path, :class => 'btn btn-small' %>
