<%= simple_form_for(@golfer, html: {class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :caddie_preferences, :label => 'Preferences' %>
    <%= f.input :is_active, label: 'Active?', wrapper: :vertical_boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
