<div class="row">
  <h1>Editing golfer</h1>
</div>
<div class="row">
  <div class="col-xs-6">
    <%= render 'form' %>
  </div>

  <div class="col-xs-6">
    <%= simple_form_for(@golfer, html: {class: 'form-inline' }, :url => add_golfer_caddie_path, method: 'post') do |f| %>
      <%= f.input :id, :as => :hidden, :input_html => { :value => @golfer.id } %>
      <%= f.association :caddies, :label_method => :full_name %>
      <%= f.button :submit, 'Update' %>
      <a href="#new_caddie_modal" role="button" class="btn btn-mini" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> New Caddie</a>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div id="new_caddie_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add_caddie" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="add_committee">Add Caddie</h3>
  </div>
  <div class="modal-body">
    <%= render 'caddies/form' %>
  </div>
</div>


<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @golfer, :class => 'btn btn-small' %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, golfers_path, :class => 'btn btn-small' %>
