<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @golfer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @golfer.last_name %>
</p>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_golfer_path(@golfer), :class => 'btn btn-small' if current_user %>
<%= link_to '<i class="icon-list"></i>'.html_safe, golfers_path, :class => 'btn btn-small' %>
