<div class="row">
  <h1><%= @golfer.full_name %> <small>Golfer</small></h1>
  <h4><%= mail_to @golfer.email, @golfer.email, :encode => "javascript" %></td></h4>
</div>
<div class="row">
  <div class="col-xs-3">
    <h4>Caddies</h4>
    <ul>
      <% @golfer.caddies.each do |caddie| %>
        <li><%= link_to caddie.full_name, caddie %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-3">
    <h4>Preferences</h4>
    <p><%= @golfer.caddie_preferences %></p>
  </div>

</div>

<%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_golfer_path(@golfer), :class => 'btn btn-small' if current_user %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, golfers_path, :class => 'btn btn-small' %>
