<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :available %>
  <%= f.input :number_of_bedrooms %>
  <%= f.input :number_of_bathrooms %>
  <%= f.input :pets, label: 'Pets?' %>
  <%= f.input :smoking, label: 'Smoking?' %>
</div>
