<h1>Editing housing for <%= link_to @housing.volunteer.full_name, @housing.volunteer %></h1>

<%= simple_form_for(@housing, html: {class: 'form-horizontal' }) do |f| %>
  <div class="form-inputs">
    <%= render :partial => "form", locals: {f: f} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

  <%= simple_form_for(@housing, html: {class: 'form-inline' }, :url => add_golfer_to_housing_path, method: 'post') do |f| %>
    <%= f.input :id, :as => :hidden, :input_html => { :value => @housing.id } %>
    <%= f.association :golfer, :label_method => :full_name %>
    <%= f.button :submit, 'Add' %>
  <% end %>


<%= link_to '<i class="icon-eye-open"></i>'.html_safe, @housing, :class => 'btn btn-small' %>
<%= link_to '<i class="icon-list"></i>'.html_safe, housings_path, :class => 'btn btn-small' %>
