<h1>Editing housing for <%= link_to @housing.person.full_name, @housing.person.volunteer %></h1>

<%= simple_form_for(@housing, html: {class: 'form-vertical' }) do |f| %>
  <div class="form-inputs">
    <%= render :partial => "form", locals: {f: f} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @housing, :class => 'btn btn-small' %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, housings_path, :class => 'btn btn-small' %>
