<h1>Listing housings</h1>

<table class ='table table-striped'>
  <thead>
    <tr>
      <th>Available</th>
      <th>Number of bedrooms</th>
      <th>Number of bathrooms</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @housings.each do |housing| %>
      <tr>
        <td><%= housing.available %></td>
        <td><%= housing.number_of_bedrooms %></td>
        <td><%= housing.number_of_bathrooms %></td>
        <td><%= link_to 'Show', housing %></td>
        <td><%= link_to 'Edit', edit_housing_path(housing) %></td>
        <td><%= link_to 'Destroy', housing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housing', new_housing_path %>
