<h1>Housing with <%= @housing.volunteer.full_name %></h1>
<p>
  <strong>Date Available:</strong>
  <%= @housing.available.strftime('%A, %B %e %Y') %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @housing.number_of_bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @housing.number_of_bathrooms %>
</p>

<p>
  <strong>Pets?</strong>
  <%= @housing.pets ? "Yes" : "No" %>
</p>

<p>
  <strong>Smoking?</strong>
  <%= @housing.smoking ? "Yes" : "No" %>
</p>

<% if @housing.comments.present? %>
  <p><strong>Comments:</strong><br>
    <%= @housing.comments %>
  </p>
<% end %>

<%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_housing_path(@housing), :class => 'btn btn-small' if current_user %>
<%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, housings_path, :class => 'btn btn-small' %>
