<p id="notice"><%= notice %></p>

<p>
  <strong>Available:</strong>
  <%= @housing.available %>
</p>

<p>
  <strong>Number of bedrooms:</strong>
  <%= @housing.number_of_bedrooms %>
</p>

<p>
  <strong>Number of bathrooms:</strong>
  <%= @housing.number_of_bathrooms %>
</p>

<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_housing_path(@housing), :class => 'btn btn-small' %>
<%= link_to '<i class="icon-list"></i>'.html_safe, housings_path, :class => 'btn btn-small' %>
