<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Stoney Point" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Stoney Point" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# application layout styled for Twitter Bootstrap 2.3 %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container-fluid">
        <div class="content">
           <div class="row">
            <div class="col-xs-12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <div class="row">
              <div class="col-xs-12">
                &nbsp;
              </div>
            </div>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
